<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找不到页面</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <style>
        body{
            {#background-color: #ebe2b4;#}
            background-color: white;
        }
    </style>
</head>
<body>
<div class="container text-center" style="margin-top: 100px">
    <img height="100" src="/static/img/333.jpg" alt="">
    <h1>404 <small>您访问的页面不存在！</small></h1>
    <h4><a href="/">返回首页</a></h4>
</div>
</body>
</html>